# Pipeline ê°„ë‹¨ ë²„ì „ - ë¬´ì—‡ì„ í•˜ëŠ”ê°€?

**ëª©í‘œ**: AI/ML ìŠ¤íƒ€íŠ¸ì—…ì˜ ì•½ì† ì• ë§¤ëª¨í˜¸í•¨(vagueness)ì´ í€ë”© ì„±ê³µì— ë¯¸ì¹˜ëŠ” ì˜í–¥ ë¶„ì„

In [ ]:
import pandas as pd
import numpy as np
import sys
from pathlib import Path

# Setup paths
BASE_DIR = Path("..").resolve()  # Go up from 'data' to 'empirics'
RAW_DATA_DIR = BASE_DIR / "data" / "raw"
PROCESSED_DATA_DIR = BASE_DIR / "data" / "processed"

print(f"Base directory: {BASE_DIR}")
print(f"Raw data directory: {RAW_DATA_DIR}")
print(f"Processed data directory: {PROCESSED_DATA_DIR}")

# Check if processed data exists (from pipeline)
PANEL_FILE = PROCESSED_DATA_DIR / "analysis_panel.csv"
if PANEL_FILE.exists():
    print(f"\nâœ… Found processed panel data: {PANEL_FILE}")
    USE_PROCESSED = True
else:
    print(f"\nâš ï¸  No processed panel data found")
    print(f"   Run pipeline first: python ../code/pipeline_xarray.py")
    USE_PROCESSED = False

## ë°ì´í„° ë¡œë“œ ì˜µì…˜

**Option 1**: Pipelineìœ¼ë¡œ ìƒì„±ëœ processed data ì‚¬ìš© (ê¶Œì¥)  
**Option 2**: Raw dataì—ì„œ ì§ì ‘ ë¡œë“œ (íŒŒì¼ì´ ìˆì„ ê²½ìš°ë§Œ)

## Option 1: Pipelineìœ¼ë¡œ ìƒì„±ëœ Analysis Panel ì‚¬ìš© (ê¶Œì¥)

ì´ë¯¸ ëª¨ë“  ì „ì²˜ë¦¬ê°€ ì™„ë£Œëœ ë°ì´í„°ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
if USE_PROCESSED:
    # Load processed analysis panel from pipeline
    panel = pd.read_csv(PANEL_FILE)
    
    print(f"âœ… Loaded analysis panel: {len(panel)} observations")
    print(f"   Columns: {list(panel.columns)}")
    print(f"\n   Unique companies: {panel['company_id'].nunique()}")
    print(f"   Series A: {sum(panel['round'] == 'Series A')}")
    print(f"   Series B: {sum(panel['round'] == 'Series B')}")
    
    # Display sample
    display_cols = ['company_id', 'round', 'vagueness', 'high_integration_cost', 
                    'funding_success', 'deal_size']
    if 'company_name' in panel.columns:
        display_cols.insert(1, 'company_name')
    
    print("\n   Sample data:")
    print(panel[display_cols].head(10))
else:
    print("âš ï¸  No processed data available. Please run pipeline first:")
    print("   cd ../code")
    print("   python pipeline_xarray.py")

## Option 2: Raw Dataì—ì„œ ì§ì ‘ ë¡œë“œ (ì°¸ê³ ìš©)

âš ï¸ **ì´ ë°©ë²•ì€ Deal*.dat íŒŒì¼ì´ ìˆì–´ì•¼ í•©ë‹ˆë‹¤**  
í˜„ì¬ ë°ì´í„°ê°€ ì—†ìœ¼ë©´ ì‘ë™í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. Pipeline ì‚¬ìš©ì„ ê¶Œì¥í•©ë‹ˆë‹¤.

---

### ë°ì´í„° íŒŒì¼ í™•ì¸

In [ ]:
# Check for raw data files
import os

print("ğŸ“‚ Checking raw data directory:")
print(f"   Location: {RAW_DATA_DIR}\n")

company_files = list(RAW_DATA_DIR.glob("Company*.dat"))
deal_files = list(RAW_DATA_DIR.glob("Deal*.dat"))

print(f"Company files: {len(company_files)}")
for f in company_files:
    print(f"  - {f.name}")

print(f"\nDeal files: {len(deal_files)}")
for f in deal_files:
    print(f"  - {f.name}")

if len(deal_files) == 0:
    print("\nâŒ No Deal*.dat files found!")
    print("   See DATA_REQUIREMENTS.md for instructions on getting deal data")
else:
    print(f"\nâœ… Found {len(deal_files)} Deal file(s)")

In [10]:
# íšŒì‚¬ ë°ì´í„° ë¡œë“œ
company = pd.read_csv(f"{DATA_DIR}/Company20230501.dat", sep='|', nrows=SAMPLE, low_memory=False)
print(f"ì „ì²´ íšŒì‚¬: {len(company)}ê°œ")

# AI/ML íšŒì‚¬ë§Œ í•„í„°ë§
ai_keywords = ['AI', 'ML', 'machine learning', 'artificial intelligence']
company['is_ai_ml'] = company.apply(
    lambda row: any(kw.lower() in str(row.get('Description', '')).lower() 
                    for kw in ai_keywords), axis=1
)
ai_companies = company[company['is_ai_ml']].copy()

print(f"AI/ML íšŒì‚¬: {len(ai_companies)}ê°œ")
ai_companies[['CompanyID', 'CompanyName', 'Description']].head()

ì „ì²´ íšŒì‚¬: 1000ê°œ
AI/ML íšŒì‚¬: 349ê°œ

,CompanyID,CompanyName,Description
4,100001-71,Pollo Regio,Operator of a chain of restaurants intended to...
6,100002-07,Pequeno Mexico Operating Company,Operator of an entertainment and commercial ve...
7,100002-25,Yogurtland Franchising,Operator of a chain of frozen yogurt restauran...
8,100002-52,Inova US,Operator of a product marketing company with a...
11,100002-97,Career Educational Services,Provider of vocational career training service...

## Step 2: ì• ë§¤ëª¨í˜¸í•¨(Vagueness) ê³„ì‚°

Descriptionì—ì„œ ì• ë§¤í•œ ë‹¨ì–´ vs ëª…í™•í•œ ë‹¨ì–´ ë¹„ìœ¨

In [11]:
def calc_vagueness(desc):
    if pd.isna(desc):
        return 50
    text = str(desc).lower()
    vague_words = ['approximately', 'around', 'flexible', 'scalable']
    precise_words = ['precisely', 'exactly', 'guaranteed', 'specific']
    
    vague_count = sum(text.count(w) for w in vague_words)
    precise_count = sum(text.count(w) for w in precise_words)
    
    return max(0, min(100, 50 + 10 * (vague_count - precise_count)))

ai_companies['vagueness'] = ai_companies['Description'].apply(calc_vagueness)

print(f"í‰ê·  vagueness: {ai_companies['vagueness'].mean():.1f}")
ai_companies[['CompanyName', 'vagueness']].head(10)

í‰ê·  vagueness: 50.1

                         CompanyName  vagueness
4                        Pollo Regio         50
6   Pequeno Mexico Operating Company         50
7             Yogurtland Franchising         50
8                           Inova US         50
11       Career Educational Services         50
16                             G2See         50
18                         ChainSync         50
25           Craft Equipment Company         50
26                  Woodham Mortimer         50
28                   ImPress Systems         50

## Step 3: Deal ë°ì´í„° - VC íˆ¬ì ì°¾ê¸°

In [12]:
# Deal ë°ì´í„° ë¡œë“œ
deal = pd.read_csv(f"{DATA_DIR}/Deal20230501.dat", sep='|', nrows=SAMPLE, low_memory=False)
print(f"ì „ì²´ ë”œ: {len(deal)}ê°œ")

# VC íˆ¬ìë§Œ í•„í„°ë§
vc_deals = deal[deal['DealType'].str.contains('VC', case=False, na=False)].copy()
print(f"VC ë”œ: {len(vc_deals)}ê°œ")

# Series A (ì´ˆê¸°) vs Series B (í›„ê¸°) ë¶„ë¥˜
early_rounds = ['1st Round', 'Seed Round', 'Angel']
later_rounds = ['2nd Round', '3rd Round', '4th Round']

vc_deals['round'] = np.where(
    vc_deals['VCRound'].isin(early_rounds), 'Series A',
    np.where(vc_deals['VCRound'].isin(later_rounds), 'Series B', None)
)

vc_deals = vc_deals[vc_deals['round'].notna()]
print(f"Series A: {sum(vc_deals['round'] == 'Series A')}ê°œ")
print(f"Series B: {sum(vc_deals['round'] == 'Series B')}ê°œ")

vc_deals[['CompanyID', 'CompanyName', 'round', 'DealSize']].head()

ì „ì²´ ë”œ: 1000ê°œ
VC ë”œ: 258ê°œ
Series A: 127ê°œ
Series B: 100ê°œ

    CompanyID CompanyName     round  DealSize
3   100001-08        Zana  Series A       NaN
26  100003-15     Premama  Series A  1.399999
27  100003-15     Premama  Series B  3.250000
29  100003-15     Premama  Series B  3.500001
30  100003-15     Premama  Series B  5.900000

## Step 4: í€ë”© ì„±ê³µ ì •ì˜

In [13]:
# ì„±ê³µ = ë”œ ì™„ë£Œ & ê¸ˆì•¡ > 0
vc_deals['DealSize'] = pd.to_numeric(vc_deals['DealSize'], errors='coerce').fillna(0)
vc_deals['funding_success'] = (
    (vc_deals['DealSize'] > 0) & 
    (vc_deals['DealStatus'].str.contains('Completed', case=False, na=False))
).astype(int)

print(f"ì„±ê³µí•œ ë”œ: {vc_deals['funding_success'].sum()}ê°œ")
print(f"ì„±ê³µë¥ : {vc_deals['funding_success'].mean():.1%}")

ì„±ê³µí•œ ë”œ: 123ê°œ
ì„±ê³µë¥ : 54.2%

## Step 5: Company + Deal ì¡°ì¸ - ë¶„ì„ íŒ¨ë„ ìƒì„±

In [14]:
# CompanyIDë¡œ ì¡°ì¸
ai_companies_indexed = ai_companies.set_index('CompanyID')

panel = vc_deals.merge(
    ai_companies_indexed[['vagueness']],
    left_on='CompanyID',
    right_index=True,
    how='inner'
)

print(f"\në¶„ì„ íŒ¨ë„: {len(panel)}ê°œ ê´€ì¸¡ì¹˜")
print(f"Series A: {sum(panel['round'] == 'Series A')}ê°œ")
print(f"Series B: {sum(panel['round'] == 'Series B')}ê°œ")

panel[['CompanyName', 'round', 'vagueness', 'funding_success']].head(10)

ë¶„ì„ íŒ¨ë„: 65ê°œ ê´€ì¸¡ì¹˜
Series A: 28ê°œ
Series B: 37ê°œ

         CompanyName     round  vagueness  funding_success
39             G2See  Series A         50                0
67   ImPress Systems  Series A         50                1
127             UOKO  Series A         50                1
128             UOKO  Series B         50                1
129             UOKO  Series B         50                1
130             UOKO  Series B         50                1
194    Hyakusenrenma  Series B         50                0
195    Hyakusenrenma  Series B         50                1
196    Hyakusenrenma  Series B         50                1
207            Maven  Series B         50                1

## Step 6: í•µì‹¬ ì§ˆë¬¸ - Vaguenessê°€ í€ë”© ì„±ê³µì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì€?

**ê°€ì„¤**: ì´ˆê¸°(Series A)ì—ëŠ” ì• ë§¤í•œ ì•½ì†ì´ ì¢‹ì§€ë§Œ, í›„ê¸°(Series B)ì—ëŠ” ëª…í™•í•œ ì•½ì†ì´ ì¢‹ë‹¤

In [15]:
# ë¼ìš´ë“œë³„ ì„±ê³µë¥  ë¹„êµ
summary = panel.groupby(['round', pd.cut(panel['vagueness'], bins=[0, 50, 100], labels=['Low', 'High'])]).agg({
    'funding_success': ['count', 'sum', 'mean']
}).round(3)

summary.columns = ['Count', 'Successes', 'Success_Rate']
print("\nì„±ê³µë¥  by Round & Vagueness:")
print(summary)

ì„±ê³µë¥  by Round & Vagueness:
                    Count  Successes  Success_Rate
round    vagueness
Series A Low           28         12         0.429
         High           0          0           NaN
Series B Low           37         27         0.730
         High           0          0           NaN

## Step 7: íšŒê·€ ë¶„ì„ - í†µê³„ì  ê²€ì¦

In [16]:
import statsmodels.formula.api as smf

# ë³€ìˆ˜ ì¤€ë¹„
panel['vagueness_scaled'] = panel['vagueness'] / 100
panel['series_b_dummy'] = (panel['round'] == 'Series B').astype(int)

# íšŒê·€ì‹: funding_success ~ vagueness + round + interaction
formula = 'funding_success ~ vagueness_scaled + series_b_dummy + vagueness_scaled:series_b_dummy'

try:
    model = smf.logit(formula, data=panel).fit(disp=False)
except:
    model = smf.ols(formula, data=panel).fit()

print("\níšŒê·€ ë¶„ì„ ê²°ê³¼:")
print(model.summary())

íšŒê·€ ë¶„ì„ ê²°ê³¼:
                            OLS Regression Results
==============================================================================
Dep. Variable:        funding_success   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.078
Method:                 Least Squares   F-statistic:                     6.434
Date:                Wed, 22 Oct 2025   Prob (F-statistic):             0.0137
Time:                        14:17:56   Log-Likelihood:                -42.689
No. Observations:                  65   AIC:                             89.38
Df Residuals:                      63   BIC:                             93.73
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                           0.3429      0.072      4.784      0.000       0.200       0.486
vagueness_scaled                    0.1714      0.036      4.784      0.000       0.100       0.243
series_b_dummy                      0.2409      0.095      2.537      0.014       0.051       0.431
vagueness_scaled:series_b_dummy     0.1205      0.047      2.537      0.014       0.026       0.215
==============================================================================
Omnibus:                       55.012   Durbin-Watson:                   2.096
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                7.038
Skew:                          -0.359   Prob(JB):                       0.0296
Kurtosis:                       1.557   Cond. No.                     1.18e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.19e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## í•µì‹¬ í•´ì„

- **vagueness_scaled**: Series Aì—ì„œ vagueness 1ë‹¨ìœ„ ì¦ê°€ ì‹œ ì„±ê³µ í™•ë¥  ë³€í™”
- **vagueness_scaled:series_b_dummy**: Series Bì—ì„œëŠ” íš¨ê³¼ê°€ ë°˜ëŒ€ë¡œ (reversal)
- p < 0.05ì´ë©´ í†µê³„ì ìœ¼ë¡œ ìœ ì˜ë¯¸